@import '../../styles/variables.scss';

.Input {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;
  color: $gray-30;
  user-select: none;
}

label {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}
input {
  height: 2rem;
  font-size: 0.875rem;
  font-family: inherit;
  padding-left: 0.5rem;
  color: inherit;
  border: 0;
  &:focus {
    outline: 0;
  }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}