@import 'styles/variables.scss';

.module {
  padding-top: $spacer-3xl !important;
  min-height: calc(100vh - 20rem);;
  :global {
    .Section-hero {
      padding: { 
        top: $spacer-xl; 
        bottom: $spacer-3xl; 
      };
    }
  }
}