@import '@/styles/variables.scss';

.Footer {
  position: relative;
  min-height: 25vh;
  color: $gray-60;
  // font-feature-settings: $font-settings-01;
  background-color: $black;
  overflow: hidden;

  .Footer-container {
    padding: 2rem 0;

    p {
      font-size: 1rem;
      margin: 0 0 0.5rem;
    }
  }
  .Footer-column {
    margin-bottom: 2rem;
  }
  .date {
    position: absolute;
    bottom: 0;
    font-size: 5rem;
    font-weight: 900;
    opacity: 0.2;
  }
}