@import 'styles/variables.scss';

$logo-size: 3.75rem;

.Dmark {
  width: $logo-size;
  height: $logo-size;
  transition: background 150ms ease-in;
  .logo-box {
    width: 100%;
    height: 100%;
  }

  // &.active {
  //   svg {
  //     fill: currentColor;
  //   }
  // }
  
  svg {
    transition: fill 150ms ease-in;
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}

// @media screen and (max-width: $layout-lg) {
//   .Logo {
//     left: 1em;
//   }
// }



.dtm-PersonaLogo {
  margin: -0.05em 0;
  width: 100%;
  height: 2.65em;
  display: flex;
  flex-wrap: wrap;
  //align-items: space-between;
}






.Name,
.Surname {
  //height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  transition: width 250ms ease;
}
.block {
  white-space: nowrap;
  overflow: hidden;
  margin: 0.05em 0;
  height: 0.76em;
  position: relative;
  //background-color: $gray-10;
  svg {
    height: 0.75em;
    margin: 0;
    position: absolute;
    fill: currentColor;
  }
}
.dtm-PersonaLogo:hover {
  .Name {
    width: 4.6em;
  }
}
.Name {
  width: 2.1em;
  margin-right: 0.5em;
  
  .block:nth-child(1) {
    //margin-right: auto;
    flex-basis: 1.4em;
    flex-grow: 1;
    //flex-shrink: 1;
  }
  .block:nth-child(2) {
   
    flex-basis: 0.9em;
    flex-grow: 1;
    //flex-shrink: 1;
  }
  .block:nth-child(3) {
    //margin-right: auto;
    flex-basis: 1.7em;
    flex-grow: 1;
    //flex-shrink: 1;
    margin-right: auto;
  }
}
.dtm-PersonaLogo:hover {
  .Surname {
    width: 8em;
  }
}
.Surname {
  width: 3.6em;

  .block:nth-child(1) {
    //margin-right: auto;
    flex-basis: 1.3em;
    flex-grow: 1;
    //flex-shrink: 1;
  }
  .block:nth-child(2) {
   
    flex-basis: 2.65em;
    flex-grow: 1;
    //flex-shrink: 1;
  }
  .block:nth-child(3) {
    //margin-right: auto;
    flex-basis: 3em;
    flex-grow: 1;
    //flex-shrink: 1;
  }
}
