@import '../../styles/fibre.scss';


.Faceholder {
  --color: #{$blue-20};
  --background: #{$blue-80};
  color: var(--color);
  background-color: var(--background);
}

main {
  margin-top: 2rem;
}

section {
  padding: 2rem 0;
}

.Leadspace {
  &-container {
      padding: 2rem 0;
      width: 50%;
      max-width: 30rem;
  }
  
  min-height: 50vh;
  // color: $blue-20;
  // background-color: $blue-60; // $background;
}


.About {
  --color: #{$gray-20};
  --background: #{$gray-100};

  color: var(--color);
  background-color: var(--background);
  min-height: 50vh; // 75vh;

  .content {
      width: 50%;
      max-width: 30rem;
  }
}