$breakpoint-small: 42rem;
$breakpoint-medium: 66rem;
$breakpoint-large: 82rem;
$breakpoint-xlarge: 99rem;
$breakpoint-wide: 142rem;
$breakpoint-ultra: 166rem;
$breakpoint-max: 199rem;



$layout-0:  320px;
$layout-xs: 480px;
$layout-sm: 768px;
$layout-md: 1024px;
$layout-lg: 1280px;
$layout-xl: 1920px;


$breakpoint: $layout-md;

$persona-breakpoint: 600px;

// ToDo and clean up this mess
$media-min-small: (min-width: $layout-xs);
$media-max-small: screen and (max-width: 449px);
$media-min-medium: screen and (min-width: 675px);
$media-min-large: screen and (min-width: 900px);