@import '@/styles/fibre.scss';

.module {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.leadText {
  margin-right: 1rem;
  color: $gray-60;
  padding: 0.25rem;
  display: inline-flex;
}

.tagList {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}